<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="col-md-10">
          <h4>Optimize Cassandra Schema for following data</h4>
        </div>
        <div class="col-md-offset-10">
          <button class="btn btn-primary" (click)="optimize()">Optymalizuj</button>
        </div>
      </div>
      <div class="panel-body">
        <div [hidden]="!isNew()" class="row">
          <app-table-list></app-table-list>
          <app-query-list></app-query-list>
        </div>
        <div [hidden]="!isInProgress()" class="row">
          <div class="row">
            <div class="col-md-offset-1">
              <button class="btn btn-primary" (click)="resetProcess()">Zacznij od nowa</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <app-progress-bar></app-progress-bar>
            </div>
          </div>
        </div>
        <div [hidden]="!isResultReady()" class="row">
          <button class="btn btn-primary" (click)="resetProcess()">Zacznij od nowa</button>
          <app-benchmark-result></app-benchmark-result>
        </div>
      </div>
    </div>
  </div>
</div>


